// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$vert: rgba(137, 223, 84, 1);
$marine: rgba(0, 29, 74, 1);
$beige: rgba(250, 240, 202, 1);
$jaunedark: rgba(244, 211, 94, 1);
$oranger: rgba(255, 109, 28, 1);
