.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem; /* Increase from 0.7rem */
  border-radius: 50rem;
  padding: 1rem 2rem; /* Increase from 0.1rem 0.5rem */
  background-color: #ECEAFF;
  color: rgba(103, 65, 254, 1);
  border: 1px solid rgba(103, 65, 254, 1);
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.form-control:focus {
  border-color: rgba(103, 65, 254, 1);
}

.form-check {
  padding-left: 0;
}

.tag-selector:checked + label {
  background-color: rgba(103, 65, 254, 1);
  color: white!important;
}

.return_order_items_restock .form-check .form-check-input {
  display: none;
}
