// Specific CSS for your home-page
.background_video {
  background-size: cover;
  position:relative;
}

.title {
  position:absolute;
  top:25px;
  font-weight: bolder;
  color: rgba(255, 109, 28, 1);
}

.slogan {
  position:absolute;
  font-weight: normal;
  color: rgba(0, 29, 74, 1);
}

.button {
  max-width: 50%;
  margin-block-end: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
}
