// Specific CSS for your home-page
.homepage {
  background-color: rgba(250, 240, 202, 1);
  margin: 0
}

.image_tag {
  max-width: 100%
}

// .button-start {
//   color: rgba(0, 29, 74, 1)!important;
//   background-color: rgba(137, 223, 84, 1)!important
// }
