<div class="content-wrapper">
  <div class="banner" style="position: relative;">
      <%= video_tag "video_homepage.mp4", autoplay: true, loop: true, controls: false, mute: true, class: "mx-auto d-block" %>
      <h1 class="title">Eleanor</h1>
      <div class="slogan" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <p>Your trusted logistics partner : Eleanor Returnsworth helps coordinate e-commerce client service officers with warehouse operators to monitor product returns efficiently.</p>
      </div>
    <div class="home row">
        <% if user_signed_in? %>
          <% if current_user.role == "warehouse_operator" %>
            <a href="/logistics" type="button" class="btn-lg btn-block mx-auto py-8 bg-success p-6" style="width: fit-content;">Start Scanning</a>
          <% else %>
            <a href="/returns/new" type="button" class="btn-lg btn-block mx-auto py-8 bg-success p-6" style="width: fit-content;">Create a Return</a>
          <% end %>
        <% else %>
          <div class="text-center">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-sm", style: "font-size:18px; padding:10px 5px; width:150px; border-radius: 50px; margin-top:5px;" %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-warning btn-sm ml-2", style: "font-size:18px; padding:10px 5px; width:150px; border-radius: 50px; margin-top:5px;" %>
          </div>
        <% end %>
    </div>
  </div>

  <script>
    var textWrapper = document.querySelector('.slogan');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
    anime.timeline({ loop: true })
      .add({
        targets: '.slogan .letter',
        opacity: [0, 1],
        easing: "easeInOutQuad",
        duration: 1575,  // Decreased duration by 30%
        delay: (el, i) => 105 * (i + 1) // Decreased delay by 30%
      }).add({
        targets: '.slogan',
        opacity: 0,
        duration: 700,  // Decreased duration by 30%
        easing: "easeOutExpo",
        delay: 700, // Decreased delay by 30%
        complete: function() {
          anime({ duration: 7000 }).finished; // 7-second pause at the end
        }
      });
  </script>
</div>
