<div class="homepage">
  <div class="container-fluid">
    <div class="row">
      <div class="circle">
        Eleanor
      </div>
    </div>
    <div class="row">
      <%= image_tag 'gifs/box_moving.gif'%>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <button type="button-start" class="btn btn-primary">Start scanning</button>
    </div>
    <div class="row">
      <button type="button-earnings" class="btn btn-warning">Don't forget your earnings !</button>
    </div>
  </div>
</div>
