<div class="banner" style="bg-video autoplay muted loop">
    <%= video_tag "videoblocks-steadycam-shot-of-big-warehouse-with-many-goods-for-building-or-repair-shopping-mall-or-stock-with-stuff-for-decoration_r8zf9u7zwz__f0dcea737d629327c0ac627221b9660e__P360.mp4", :controls => true %>
    <h1 class="title">Eleanor</h1>
    <p class="slogan">Your trusted logistics partner</p>
</div>

  <div class="row mx-auto w-50">
    <button type="button" class="btn-lg btn-block mx-auto py-8 bg-primary p-6 ">Start scanning</button>
  </div>
