
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
   .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    </div>
  </div>
</div>
