<h1>Logistics Dashboard</h1>
   <p>Welcome to returnsworth's logistics dashboard, where you can manage returns and restocks.</p>

<h2>QR Code Reader on Rails with Stimulus</h2>
<div data-controller="qr-code-reader">
  <video data-qr-code-reader-target="video" width="500" height="400"></video>
</div>
