<div class="container">
  <h1>Return Details</h1>

  <div class="card">
    <img class="xcard-img-top" src="..." alt="Card image cap">
    <p>ID: <%= @return.id %></p>
      <div class="card-body">
        <p><a href="#" class="btn btn-success">Created at:</a>  <a href="#" class="btn btn-outline-secondary float-end">"<%= @return.created_at %>"</a></p>
        <p><a href="#" class="btn btn-warning">Updated at:</a>  <a href="#" class="btn btn-outline-secondary float-end">"<%= @return.updated_at %>"</a></p>
        <p class="mt-auto"><a href="#" class="btn btn-success">OK</a>  <a href="#" class="btn btn-warning float-end">OUPS</a></p>
      </div>
  </div>
</div>
