.navbar-lewagon {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  .navbar-nav .nav-item{
    margin-left: 10px;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
.navbar-width-80 {
  width: 80%;
}
